.projects {
  margin: auto;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 50px;
  row-gap: 50px;
}

.project {
  padding: 2em;
  /* background-color: #1d1a17; */
  background-color: #5980c2;
  color: #e8e8e8;
  margin: auto;
  border-radius: 10px;
}

svg {
  fill: #e8e8e8;
  width: 30px;
}

header h3 {
  color: #e8e8e8;
  margin-top: 1em;
  font-size: 1.5em;
}

.projectImage {
  padding: 1em 0;
  max-width: 100%;
}

.projectLinks {
  display: flex;
  justify-content: space-between;
}

.description {
  margin: 1em 0;
}

.project footer {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  opacity: 0.8;
}
