@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 95vh;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(150)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(12, 85%, 60%, 1)'/><path d='M20-5V5m0 30v10m20-30v10M0 15v10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(90,1.2%,31.4%,1)' fill='none'/><path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(198,63.3%,38.4%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
  /* background-color: #3a3a3a; */
  background-color: #1d1a17;
}

.App {
  background-color: #e8e8e8;
  max-width: 80vw;
  margin: 2em auto;
  border-radius: 5px;
}

nav {
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 7vw;
  font-weight: 100;
  margin: 0;
  line-height: 1.5ch;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2vw;
}

h1,
h2 {
  margin: 0;
  padding-left: 1.25rem;
}

.logo {
  font-size: 2vw;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
}

nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  margin-right: 2em;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 2em;
  color: #000;
  text-decoration: none;
}

.cta {
  background-color: #4a45ba;
  color: #eee;
  padding: 1.2em;
  border-radius: 10px;
}

.active {
  text-decoration: underline solid 3px;
  text-underline-offset: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 30px;
  padding: 2em;
}

.image {
  position: relative;
  max-width: 80%;
  min-width: 300px;
}

.image img {
  box-shadow: 0 20px 30px -10px rgb(40, 60, 80);
  border-radius: 10px;
  max-width: 100%;
  object-fit: contain;
  filter: brightness(0.5);
}

.greeting {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
}

.greeting h2 {
  font-family: monospace;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: keystroke 2s steps(20), blink 0.5s step-end infinite alternate;
  border-right: 3px solid white;
}

@keyframes keystroke {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.right {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.codeblock {
  box-shadow: 0 20px 30px -10px rgb(40, 60, 80);
}

.contact {
  margin: auto;
  text-align: center;
  width: 50%;
}

.contact h2 {
  margin: 1em;
}

.social {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.social-link {
  min-width: 50px;
  margin: 1em;
  transition: transform 500ms;
}

.social-link:hover {
  transform: scale(1.5);
}

.btn {
  background-color: #fff;
  color: #fff;
  background-color: #067bc2;
  padding: 1em 3em;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
}

@media (max-width: 724px) {
  .logo {
    font-size: 10px;
  }
}

@media (min-width: 725px) {
  nav {
    justify-content: space-between;
  }
}
