@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1a17;
}

.App {
  background-color: #e8e8e8;
  max-width: 85vw;
  margin: 2em auto;
  border-radius: 5px;
}

nav {
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav p {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 7vw;
  font-weight: 100;
  margin: 0;
  line-height: 1.5ch;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2vw;
}

h1,
h2 {
  margin: 0;
  padding-left: 1.25rem;
}

.logo {
  font-size: 1vw;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
}

nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  margin-right: 2em;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 2em;
  color: #000;
  text-decoration: none;
}

.cta {
  background-color: #4a45ba;
  color: #eee;
  padding: 1.2em;
  border-radius: 10px;
}

.active {
  text-decoration: underline solid 3px;
  text-underline-offset: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 2em;
}

.image {
  position: relative;
  max-width: 70%;
  min-width: 300px;
}

.image img {
  box-shadow: 0 20px 30px -10px rgb(40, 60, 80);
  border-radius: 10px;
  max-width: 100%;
  object-fit: contain;
  filter: brightness(0.5);
}

.greeting {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
}

.greeting h2 {
  font-family: monospace;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: keystroke 2s steps(20), blink 0.5s step-end infinite alternate;
  border-right: 3px solid white;
}

@keyframes keystroke {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.right {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 90%;
}

.contact {
  margin: auto;
  text-align: center;
  width: 50%;
}

.social {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.social-link {
  min-width: 50px;
  margin: 1em;
  transition: transform 500ms;
}

.social-link:hover {
  transform: scale(1.5);
}

.btn {
  background-color: #fff;
  color: #fff;
  background-color: #067bc2;
  padding: 1em 3em;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
}

@media (max-width: 724px) {
  .logo {
    font-size: 10px;
  }
}

@media (min-width: 725px) {
  nav {
    justify-content: space-between;
  }
}
